:root {
  --grey: #373737;
  --purple: #7550FD;
  --backgroundWhite: #FEFEFE;
  --darkGrey: #263238;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Nexa', serif;
}

body {
  background-color: var(--backgroundWhite);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  width: 180px;
  text-align: center;
  color: var(--backgroundWhite);
  font-weight: bold;
  padding: 12px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buttonPrimary {
  background-color: var(--purple);
}

.buttonPrimary:hover {
  background-color: #5437bb;
}