:root {
  --grey: #373737;
  --purple: #7550FD;
  --backgroundWhite: #FEFEFE;
  --darkGrey: #263238;
  --lightGrey: #C9C9C9;

  --blue: #2F6DB5;
  --mildGrey: #868492;

  --pink: #b460a8;
  --strongGrey: #263140;

  --green: #366961;
  --orange: #C57B57;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Nexa', serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--backgroundWhite);
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
}

.header2 {
  position: fixed;
  top: 25px;
  left: 0;
}

.fullWrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  overflow-y: hidden;
  /* width: 100%; */
  scroll-snap-align: start;
}

.one {
  position: relative;
}

/* @media (max-width: 1690px) {
  .container {
    max-width: 1200px;
  }
} */

.button {
  display: inline-block;
  width: 180px;
  height: 44px;
  text-align: center;
  color: var(--backgroundWhite);
  font-weight: bold;
  font-size: 1rem;
  padding: 12px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buttonPrimary {
  background-color: var(--purple);
}

.buttonPrimary:hover {
  background-color: #5437bb;
}

.buttonBlue {
  background-color: var(--blue);
}

.buttonBlue:hover {
  background-color: #25568f;
}

.buttonMildGrey {
  background-color: var(--mildGrey);
}

.buttonMildGrey:hover {
  background-color: #6c6a77;
}

.buttonPink {
  background-color: var(--pink);
}

.buttonPink:hover {
  background-color: #a15696;
}

.buttonStrongGrey {
  background-color: var(--strongGrey);
}

.buttonStrongGrey:hover {
  background-color: #39495f;
}

.buttonGreen {
  background-color: var(--green);
}

.buttonGreen:hover {
  background-color: #284e49;
}

.buttonOrange {
  background-color: var(--orange);
}

.buttonOrange:hover {
  background-color: #b96a42;
}

.formButton {
  border: none;
  float: right;
}