.home {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.homeRow {
    display: flex;
    justify-content: space-between;
}

.headings {
    height: fit-content;
}

.home h1 {
    color: var(--grey);
    font-size: 3.85rem;
}

.home h1 span {
    color: var(--purple);
}

.home h2 {
    color: var(--grey);
    font-weight: normal;
    font-size: 1.75rem;
    margin-top: 20px;
}

.home h2 span {
    color: var(--purple);
}

.imageWrapper {
    position: absolute;
    bottom: 25px;
    right: 150px;
}

.buttonsRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 460px;
    margin-top: 60px;
}

.dash {
    height: 30px;
    width: 1px;
    background-color: #707070;
    border-radius: 10px;
}

.socialsButtonsRow {
    display: flex;
    align-items: center;
}

.socialButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: var(--darkGrey);
    cursor: pointer;
    margin-right: 13px;
    transition: all 0.2s ease;
}

.socialButton:hover {
    /* background-color: #36454e; */
    background-color: #3f4f5a;
}

.cvButton {
    width: 17px;
    height: 17px;
}

/* media queries */

@media (max-width: 1730px) {
    .imageWrapper img {
        width: 500px;
    }
}

@media (max-width: 1630px) {
    .imageWrapper {
        bottom: 15px;
        right: 80px;
    }
}

@media (max-width: 1400px) {
    .home {
        align-items: center;
    }
    .imageWrapper {
        display: none;
    }
}

@media (max-width: 1080px) {
    .home h1 {
        font-size: 3.15rem;
    }
    .home h2 {
        font-size: 1.45rem;
    }
}

@media (max-width: 780px) {
    .home {
        min-height: max-content;
    }

    .headings {
        margin-top: 150px;
    }
}

/* @media (max-height: 746px) {
    .headings {
        margin-top: 75px;
    }
}

@media (max-height: 664px) {
    .headings {
        margin-top: 125px;
    }
} */

/* @media (max-height: 710px) {
    .home {
        min-height: 120vh;
        padding-bottom: 55px;
    }
    .headings {
        margin-top: 70px;
    }
} */

@media (max-width: 650px) {
    .buttonsRow {
        flex-direction: column;
        /* align-items: flex-start; */
        align-items: center;
        /* width: fit-content; */
        width: 100%;
    }
    .socialsButtonsRow {
        margin-top: 25px;
    }
    .dash {
        display: none;
    }
    .home h1 {
        font-size: 2.85rem;
    }
    .home h2 {
        font-size: 1.45rem;
    }
}

@media (max-width: 450px) {
    .buttonsRow {
        align-items: center;
        flex-direction: column-reverse;
    }
    .socialsButtonsRow {
        align-items: center;
        justify-content: center;
        margin-bottom: 45px;
    }
    .home h1 {
        font-size: 2.45rem;
    }
    .home h2 {
        font-size: 1.25rem;
    }
}

/* @media (max-height: 590px) {
    .buttonsRow {
        margin-top: 20px;
    }

    .socialsButtonsRow {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .home h1 {
        max-width: 240px;
        font-size: 2.25rem;
    }
    .home h2 {
        font-size: 1.15rem;
    }
} */