.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.homeRow {
    display: flex;
    justify-content: space-between;
}

.headings {
    height: fit-content;
}

.home h1 {
    color: var(--grey);
    font-size: 3.85rem;
}

.home h1 span {
    color: var(--purple);
}

.home h2 {
    color: var(--grey);
    font-weight: normal;
    font-size: 1.75rem;
    margin-top: 20px;
}

.home h2 span {
    color: var(--purple);
}

.imageWrapper {
    position: absolute;
    bottom: 25px;
    right: 150px;
}

.buttonsRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 460px;
    margin-top: 60px;
}

.dash {
    height: 30px;
    width: 1px;
    background-color: #707070;
    border-radius: 10px;
}

.socialsButtonsRow {
    display: flex;
    align-items: center;
}

.socialButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: var(--darkGrey);
    cursor: pointer;
    margin-right: 13px;
}

.cvButton {
    width: 17px;
    height: 17px;
}